.financial-form {
    display: flex;
    border: 1px solid #ccc; /* กรอบนอก */
    padding: 10px;
  }
  
  .label-section {
    width: 70%; /* ปรับความกว้างตามต้องการ */
    text-align: right; /* ชิดขวา */
    padding-right: 40px;
  }
  
  .label-section label {
    display: block; /* ให้ label อยู่คนละบรรทัด */
    margin-bottom: 5px;
    padding: 2px;
  }
  
  .input-section {
    flex: 1; /* ให้ input ขยายเต็มพื้นที่ที่เหลือ */
  }
  
  .input-section input {
    width: 100%;
    box-sizing: border-box; /* ไม่ให้ padding เกินขอบ */
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    /* border: none; */
    text-align: right;
  }

  .td label {
    width: 60%; /* ปรับความกว้างตามต้องการ */
    text-align: right; /* ชิดขวา */
    padding-right: 10px;
  }

  .td input {
    flex: 1;
    width: 100%;
    box-sizing: border-box; /* ไม่ให้ padding เกินขอบ */
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  .vat-label-right {
    display: flex; /* ทำให้ label และ switch อยู่ในบรรทัดเดียวกัน */
    flex-direction: row-reverse; /* สลับตำแหน่ง label และ switch */
    justify-content: space-between; /* จัดให้ switch และ label อยู่ห่างกัน */
    width: 100%; /* ขยายเต็มพื้นที่ */
  }
  
  .vat-label-left .MuiFormControlLabel-label { /* จัด label ชิดขวา */
    text-align: left;
  }
  .total-amount {
    font-size: 18px; /* ปรับขนาดตัวอักษรตามต้องการ */
    font-weight: bold; /* ทำให้ตัวอักษรหนา */
}